.dark {
  background-color: #263238;
  color: rgba(255, 253, 253, 0.678);
}

.dark .card {
  background-color: #37474f;
}

.dark .collapsible-header {
  background-color: #37474f;
}

.dark .collection-header {
  background-color: #37474f;
}

.dark .collection-item {
  background-color: #37474f;
}
