$foregroundColor: #0288d1;
$backgroundColor: #0288d1;

html {
  scroll-behavior: smooth;
}

header {
  li :hover {
    font-weight: bold;
    a :active {
      font-weight: bold;
    }
  }
}

#cpa-logo {
  font-family: "El Messiri", sans-serif;
  font-size: 25px;
  margin-top: 2px;
  margin-left: 10px;
  color: #ffffff;
}

#logo-icon {
  margin-top: -3px;
  margin-right: 6px;
}

.caseCard {
  color: $foregroundColor;
  display: inline;
}

.deathCard {
  color: #e53935;
  display: inline;
}

.recoveryCard {
  color: #2e7d32;
  display: inline;
}

.round {
  border-radius: 20px;
}

.tabs .tab a {
  color: rgba(110, 161, 238, 0.7);
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(178, 200, 246, 0.2);
  outline: 0;
}

.tabs .tab a.active,
.tabs .tab a:hover {
  background-color: transparent;
  color: #6e85ee;
}

/*=================================================================================
        Header
    ====================================================================================*/
/*----------------------------------------
        Page Header
    ------------------------------------------*/
h1.logo-wrapper {
  margin: 0px 0px;
}
h1 span.logo-text {
  display: none;
}
header .brand-logo {
  margin: 1px 0px;
  padding: 0 20px;
}
header .brand-logo img {
  width: 172px;
}
.menu-sidebar-collapse {
  margin: 0 10px;
}
.menu-sidebar-collapse i {
  line-height: 36px !important;
}
@media only screen and (max-width: 992px) {
  nav .nav-wrapper {
    text-align: center;
  }
  nav .nav-wrapper a.page-title {
    font-size: 36px;
  }
}

/*=================================================================================
        Sidebar
    ====================================================================================*/
/*----------------------------------------
        Sidebar Main Menu 
    ------------------------------------------*/
nav ul li.no-hover:hover {
  background: none;
}
ul.side-nav.leftside-navigation {
  top: 64px;
}
@media only screen and (max-width: 992px) {
  ul.side-nav.leftside-navigation {
    top: 56px;
  }
}
ul.side-nav.leftside-navigation hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
}
.side-nav a {
  line-height: 42px;
  height: 42px;
}
#left-sidebar-nav {
  position: fixed;
  width: 100px;
  left: 180px;
  z-index: 999;
  height: auto;
}
#slide-out li a i {
  line-height: inherit;
  width: 2rem;
  font-size: 1.6rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}
#slide-out ul.side-nav li {
  padding: 0px !important;
}
ul.side-nav li {
  padding: 0;
}
ul.side-nav .collapsible-header {
  margin: 0;
}
.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}
.caption-uppercase {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.sidebar-collapse {
  position: absolute;
  left: -170px;
  top: -45px;
}

// .user-details .row {
//   margin: 0;
// }
// .user-task,
// .user-time {
//   margin: 0;
//   font-size: 13px;
//   color: #fff;
// }

// ul.side-nav.leftside-navigation .profile-btn {
//   margin: 0;
//   text-transform: capitalize;
//   padding: 0;
//   text-shadow: 1px 1px 1px #444;
//   font-size: 15px;
// }
// .user-roal {
//   color: #fff;
//   margin-top: -16px;
//   font-size: 13px;
//   text-shadow: 1px 1px 1px #444;
// }
// .bold > a {
//   font-weight: bold;
// }
// nav.top-nav {
//   height: 122px;
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
// }
// nav.top-nav a.page-title {
//   line-height: 122px;
//   font-size: 48px;
// }
// /*----------------------------------------
//         Cards
//     ------------------------------------------*/
// /*card-stats*/

// #card-stats .card-content {
//   text-align: center;
// }
// #card-stats .card-stats-title,
// #card-stats .card-stats-title i {
//   font-size: 1.2rem;
// }

// #card-stats .card-stats-compare {
//   font-size: 1rem;
// }
// #card-stats .card-stats-compare i {
//   position: relative;
//   top: 5px;
// }
// #card-stats .card-stats-number {
//   font-size: 1.8rem;
//   line-height: 2rem;
//   margin: 0.2rem 0 0.2rem 0;
//   font-weight: 500;
// }
// /*work-collections*/

// #work-collections .collection-header {
//   font-size: 1.64rem;
//   font-weight: 500;
// }
// #work-collections .collection-item.avatar {
//   height: auto;
// }
// #work-collections p.collections-title {
//   font-size: 1rem;
//   padding: 0;
//   margin: 0;
//   font-weight: 500;
// }
// #work-collections p.collections-content {
//   font-size: 0.9rem;
//   padding: 0;
//   margin: 0;
//   font-weight: 400;
// }
// /*task-card*/

// #task-card label {
//   display: block;
//   color: rgba(0, 0, 0, 0.87);
//   height: auto;
// }
// #task-card .task-card-title {
//   margin: 0;
//   color: #fff;
//   font-weight: 300;
// }
// #task-card .task-card-date {
//   font-size: 1rem;
//   margin: 0;
//   color: #fff;
// }
// #task-card .collection-header {
//   padding: 20px;
// }
// #task-card .task-add {
//   position: absolute;
//   right: 10px;
//   top: 76px;
// }
// #task-card .task-cat {
//   padding: 2px 4px;
//   color: #fff;
//   margin-left: 37px;
//   font-weight: 300;
//   font-size: 0.8rem;
//   -webkit-border-radius: 2px;
//   -moz-border-radius: 2px;
//   border-radius: 2px;
//   background-clip: padding-box;
// }
// .task-cat {
//   padding: 2px 4px;
//   color: #fff;
//   font-weight: 300;
//   font-size: 0.8rem;
//   -webkit-border-radius: 2px;
//   -moz-border-radius: 2px;
//   border-radius: 2px;
//   background-clip: padding-box;
// }
// .collection .collection-item.avatar i.circle {
//   font-size: 28px;
// }
// /* Profile Card */

// #profile-card .card-image {
//   height: 150px;
// }
// #profile-card .card-content p {
//   font-size: 1.2rem;
//   margin: 10px 0 12px 0;
// }
// #profile-card .card-profile-image {
//   width: 70px;
//   position: absolute;
//   top: 110px;
//   z-index: 1;
//   cursor: pointer;
// }
// #profile-card .btn-move-up {
//   position: relative;
//   top: -40px;
//   right: -18px;
//   margin-right: 10px !important;
// }

// .tooltip-class {
//   overflow: hidden;
//   color: #fff;
//   height: 20px;
//   width: 30px;
// }

// /*------------------
//       Widget
//     --------------------*/

// .socialbox .logo {
//   color: #fff;
//   font-size: 28px;
//   left: 20px;
//   bottom: 20px;
//   position: absolute;
// }
// .socialbox .info {
//   color: #fff;
//   margin: 0;
//   position: absolute;
//   right: 20px;
//   bottom: 20px;
//   font-size: 15px;
//   padding: 0;
// }
// /*----------------------------------------
//         Calender
//     ------------------------------------------*/

// #full-calendar {
//   padding-top: 30px;
// }
// #calendar h2 {
//   font-size: 1.5rem;
//   text-transform: uppercase;
//   line-height: 35px;
// }
// #calendar .fc-day-header {
//   text-transform: uppercase;
//   font-weight: 400;
// }
// #external-events {
//   padding-top: 50px;
// }
// #external-events .fc-event {
//   color: #fff;
//   text-decoration: none;
//   padding: 5px;
//   margin-bottom: 10px;
//   cursor: all-scroll;
//   border: none;
// }
// .fc button {
//   background: #fff;
// }
// .fc td,
// .fc th {
//   border-width: 0px !important;
// }
// .fc-state-active,
// .fc-state-down {
//   color: #ff4081 !important;
// }
// /*----------------------------------------
//         Color Palette for css-color.html page
//     ------------------------------------------*/

// .dynamic-color .red,
// .dynamic-color .pink,
// .dynamic-color .purple,
// .dynamic-color .deep-purple,
// .dynamic-color .indigo,
// .dynamic-color .blue,
// .dynamic-color .light-blue,
// .dynamic-color .cyan,
// .dynamic-color .teal,
// .dynamic-color .green,
// .dynamic-color .light-green,
// .dynamic-color .lime,
// .dynamic-color .yellow,
// .dynamic-color .amber,
// .dynamic-color .orange,
// .dynamic-color .deep-orange,
// .dynamic-color .brown,
// .dynamic-color .grey,
// .dynamic-color .blue-grey {
//   height: 55px;
//   width: 100%;
//   padding: 0 15px;
//   line-height: 55px;
//   font-weight: 500;
//   font-size: 12px;
//   display: block;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }
// .dynamic-color .col {
//   margin-bottom: 55px;
// }
// @media only screen and (max-width: 1024px) {
//   tfoot {
//     display: none;
//   }
// }
// tr.group,
// tr.group:hover {
//   background-color: #ddd !important;
// }
// /*----------------------------------------
//         Grid - Flat Site Mockup
//     ------------------------------------------*/
// /*----------------------------------------
//         Chrome Browser Grid Example
//     ------------------------------------------*/

// .browser-window {
//   text-align: left;
//   width: 100%;
//   height: auto;
//   display: inline-block;
//   -webkit-border-radius: 5px 5px 2px 2px;
//   -moz-border-radius: 5px 5px 2px 2px;
//   border-radius: 5px 5px 2px 2px;
//   background-clip: padding-box;
//   background-color: transparent;
//   margin: 20px 0px;
//   overflow: hidden;
// }
// .browser-window .top-bar {
//   height: 30px;
//   -webkit-border-radius: 5px 5px 0 0;
//   -moz-border-radius: 5px 5px 0 0;
//   border-radius: 5px 5px 0 0;
//   background-clip: padding-box;
//   border-top: thin solid #eaeae9;
//   border-bottom: thin solid #dfdfde;
//   background: linear-gradient(#e7e7e6, #e2e2e1);
// }
// .browser-window .circle {
//   height: 10px;
//   width: 10px;
//   display: inline-block;
//   border-radius: 50%;
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   background-color: white;
//   margin-right: 1px;
// }
// #close-circle {
//   background-color: #ff5c5a;
// }
// #minimize-circle {
//   background-color: #ffbb50;
// }
// #maximize-circle {
//   background-color: #1bc656;
// }
// .browser-window .circles {
//   margin: 5px 12px;
// }
// .browser-window .content {
//   margin: 0;
//   width: 100%;
//   display: inline-block;
//   border-radius: 0 0 5px 5px;
//   background-color: #fafafa;
// }
// .browser-window .row {
//   margin: 0;
// }
// .clear {
//   clear: both;
// }
// .promo i {
//   color: #ee6e73;
//   font-size: 6rem;
//   display: block;
// }
// .promo-caption {
//   font-size: 1.7rem;
//   font-weight: 500;
//   margin-top: 5px;
//   margin-bottom: 0px;
// }
// /*----------------------------------------
//         icon page
//     ------------------------------------------*/

// .icon-demo {
//   line-height: 50px;
// }
// .icon-container i {
//   font-size: 3em;
//   display: block;
//   margin-bottom: 10px;
// }
// .icon-container .icon-preview {
//   height: 120px;
//   text-align: center;
// }
// .icon-holder {
//   display: block;
//   text-align: center;
//   width: 150px;
//   height: 115px;
//   float: left;
//   margin: 0px 0px 15px 0px;
// }
// .icon-holder p {
//   margin: 0px 0;
// }
// /*----------------------------------------
//         Login Page
//     ------------------------------------------*/

// .login-form {
//   width: 280px;
// }
// .login-form-text {
//   text-transform: uppercase;
//   letter-spacing: 2px;
//   font-size: 0.8rem;
// }
// .profile-image-login {
//   width: 100px;
//   height: 100px !important;
// }

// .login-text {
//   margin-top: -6px;
//   margin-left: -6px !important;
// }
// /*----------------------------------------
//         Error Page
//     ------------------------------------------*/

// .text-long-shadow {
//   text-shadow: rgb(29, 125, 116) 1px 1px, rgb(29, 125, 116) 2px 2px,
//     rgb(29, 125, 116) 3px 3px, rgb(29, 125, 116) 4px 4px,
//     rgb(29, 125, 116) 5px 5px, rgb(29, 125, 116) 6px 6px,
//     rgb(29, 125, 116) 7px 7px, rgb(29, 125, 116) 8px 8px,
//     rgb(29, 125, 116) 9px 9px, rgb(29, 125, 116) 10px 10px,
//     rgb(29, 125, 116) 11px 11px, rgb(29, 125, 116) 12px 12px,
//     rgb(29, 125, 116) 13px 13px, rgb(29, 125, 116) 14px 14px,
//     rgb(29, 126, 117) 15px 15px, rgb(29, 128, 119) 16px 16px,
//     rgb(30, 130, 120) 17px 17px, rgb(30, 132, 122) 18px 18px,
//     rgb(30, 133, 124) 19px 19px, rgb(31, 135, 125) 20px 20px,
//     rgb(31, 137, 127) 21px 21px, rgb(32, 139, 129) 22px 22px,
//     rgb(32, 141, 130) 23px 23px, rgb(32, 142, 132) 24px 24px,
//     rgb(33, 144, 134) 25px 25px, rgb(33, 146, 135) 26px 26px,
//     rgb(34, 148, 137) 27px 27px, rgb(34, 149, 139) 28px 28px,
//     rgb(34, 151, 140) 29px 29px, rgb(35, 153, 142) 30px 30px,
//     rgb(35, 155, 144) 31px 31px, rgb(36, 157, 145) 32px 32px,
//     rgb(36, 158, 147) 33px 33px, rgb(36, 160, 149) 34px 34px,
//     rgb(37, 162, 150) 35px 35px, rgb(37, 164, 152) 36px 36px,
//     rgb(38, 166, 154) 37px 37px;
//   background-color: rgb(38, 166, 154);
//   /*height: 100%;*/
//   width: 100%;
//   font-size: 10rem;
//   color: #fff !important;
//   text-align: center;
//   padding: 20px 0 !important;
// }

// .blog-card .card {
//   margin: 0px;
// }
// .blog-card ul.card-action-buttons {
//   margin: -26px 10px 0px 0px;
//   text-align: right;
// }
// .blog-card ul.card-action-buttons li {
//   display: inline-block;
//   padding-left: 5px;
// }
// .blog-card .card .card-content {
//   padding: 5px 10px 5px 10px;
// }
// .blog-card .card .card-content .card-title,
// .blog-card .card .card-reveal .card-title {
//   font-size: 1.2rem;
//   line-height: 1.6rem;
//   font-weight: 400;
// }

// /* -----Blogs Masonery Page----- */
// .blog {
//   width: 20%;
//   padding: 10px;
// }
// .blog-sizer {
//   width: 20%;
// }
// .blog .card {
//   margin: 0px;
// }
// .blog ul.card-action-buttons {
//   margin: -26px 10px 0px 0px;
//   text-align: right;
// }
// .blog ul.card-action-buttons li {
//   display: inline-block;
//   padding-left: 5px;
// }
// .blog .card .card-content {
//   padding: 5px 10px 5px 10px;
// }
// .blog .card .card-content .card-title,
// .blog .card .card-reveal .card-title {
//   font-size: 1.2rem;
//   line-height: 1.6rem;
//   font-weight: 400;
// }
// .blog-post-content {
//   padding-bottom: 10px;
// }

// /*  blog page media queries */
// @media screen and (max-width: 2200px) {
//   .blog-sizer {
//     width: 20%;
//   }
//   .blog {
//     width: 20%;
//   }
// }
// @media screen and (max-width: 1800px) {
//   .blog-sizer {
//     width: 30%;
//   }
//   .blog {
//     width: 30%;
//   }
// }
// @media screen and (max-width: 1600px) {
//   .blog-sizer {
//     width: 33.33%;
//   }
//   .blog {
//     width: 33.33%;
//   }
// }
// @media screen and (max-width: 1224px) {
//   .blog-sizer {
//     width: 33.33%;
//   }
//   .blog {
//     width: 33.33%;
//   }
// }
// @media screen and (max-width: 980px) {
//   .blog-sizer {
//     width: 50%;
//   }
//   .blog {
//     width: 50%;
//   }
// }
// @media screen and (max-width: 720px) {
//   .blog-sizer {
//     width: 50%;
//   }
//   .blog {
//     width: 50%;
//   }
// }

// @media screen and (max-width: 480px) {
//   .blog-sizer {
//     width: 100%;
//   }
//   .blog {
//     width: 100%;
//   }
// }

// /* -----Blogs Page Full width 2----- */
// #blog-post-full .card-title {
//   text-shadow: 1px 1px 4px #000;
//   font-weight: 300;
//   font-size: 2rem;
// }
// #blog-post-full .blog-post-full-cat {
//   padding: 5px;
//   margin: 25px;
//   right: 0px;
//   left: inherit;
//   font-size: 15px;
//   font-weight: 500;
//   letter-spacing: 1px;
//   text-transform: uppercase;
// }
// #blog-post-full .blog-post-full-cat a {
//   color: #fff;
//   text-shadow: none;
// }

// /*----------------------------------------
//         Products
//     ------------------------------------------*/

// /* ---- Product Card ----- */

// .product-card .card {
//   margin: 0px;
// }
// .product-card ul.card-action-buttons {
//   margin: -26px 10px 0px 0px;
//   text-align: right;
// }
// .product-card ul.card-action-buttons li {
//   display: inline-block;
//   padding-left: 5px;
// }
// .product-card .card .card-content {
//   padding: 5px 10px 5px 10px;
// }
// .product-card .card .card-content .card-title,
// .product-card .card .card-reveal .card-title {
//   font-size: 1.1rem;
//   line-height: 1.6rem;
//   font-weight: 400;
// }
// .product-card .card .btn-price {
//   width: 65px;
//   height: 65px;
//   font-weight: 600;
//   font-size: 1rem;
//   line-height: 65px;
//   margin: 10px;
//   position: absolute;
//   top: 0px;
//   letter-spacing: 0px;
// }
// /* -----Products Masonery ----- */

// .product {
//   width: 20%;
//   padding: 10px;
// }
// .product-sizer {
//   width: 20%;
// }
// .product .card {
//   margin: 0px;
// }
// .product ul.card-action-buttons {
//   margin: -26px 10px 0px 0px;
//   text-align: right;
// }
// .product ul.card-action-buttons li {
//   display: inline-block;
//   padding-left: 5px;
// }
// .product .card .card-content {
//   padding: 5px 10px 5px 10px;
// }
// .product .card .card-content .card-title,
// .product .card .card-reveal .card-title {
//   font-size: 1.1rem;
//   line-height: 1.6rem;
//   font-weight: 400;
// }
// .product .card .btn-price {
//   width: 65px;
//   height: 65px;
//   font-weight: 600;
//   font-size: 1rem;
//   line-height: 65px;
//   margin: 10px;
//   position: absolute;
//   top: 0px;
//   letter-spacing: 0px;
// }
// /* eCommers product page media queries */
// @media screen and (max-width: 2200px) {
//   .product-sizer {
//     width: 20%;
//   }
//   .product {
//     width: 20%;
//   }
// }
// @media screen and (max-width: 1800px) {
//   .product-sizer {
//     width: 30%;
//   }
//   .product {
//     width: 30%;
//   }
// }
// @media screen and (max-width: 1600px) {
//   .product-sizer {
//     width: 25%;
//   }
//   .product {
//     width: 25%;
//   }
// }
// @media screen and (max-width: 1224px) {
//   .product-sizer {
//     width: 33.33%;
//   }
//   .product {
//     width: 33.33%;
//   }
// }
// @media screen and (max-width: 980px) {
//   .product-sizer {
//     width: 50%;
//   }
//   .product {
//     width: 50%;
//   }
// }
// @media screen and (max-width: 720px) {
//   .product-sizer {
//     width: 50%;
//   }
//   .product {
//     width: 50%;
//   }
// }

// @media screen and (max-width: 480px) {
//   .product-sizer {
//     width: 100%;
//   }
//   .product {
//     width: 100%;
//   }
// }

// /*----------------------------------------
//         Gallary  Page
//     ------------------------------------------*/
// .gallary-item img {
//   width: 20%;
// }
// .gallary-sizer {
//   width: 20%;
// }

// /* Gallary page media queries */
// @media screen and (max-width: 2200px) {
//   .gallary-sizer {
//     width: 20%;
//   }
//   .gallary-item img {
//     width: 20%;
//   }
// }
// @media screen and (max-width: 1800px) {
//   .gallary-sizer {
//     width: 30%;
//   }
//   .gallary-item img {
//     width: 30%;
//   }
// }
// @media screen and (max-width: 1600px) {
//   .gallary-sizer {
//     width: 25%;
//   }
//   .gallary-item img {
//     width: 25%;
//   }
// }
// @media screen and (max-width: 1224px) {
//   .gallary-sizer {
//     width: 33.33%;
//   }
//   .gallary-item img {
//     width: 33.33%;
//   }
// }
// @media screen and (max-width: 980px) {
//   .gallary-sizer {
//     width: 50%;
//   }
//   .gallary-item img {
//     width: 50%;
//   }
// }
// @media screen and (max-width: 600) {
// }

// @media screen and (max-width: 480px) {
//   .gallary-sizer {
//     width: 100%;
//   }
//   .gallary-item img {
//     width: 100%;
//   }
// }

// /*----------------------------------------
//         Shadow effect
//     ------------------------------------------*/

// .shadow-demo {
//   background-color: #26a69a;
//   width: 100px;
//   height: 100px;
//   margin: 20px auto;
// }
// .collapsible-header {
//   font-weight: 500;
// }

// footer.page-footer {
//   padding-top: 0px;
// }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES GO HERE */
  #cpa-logo {
    display: none;
  }

  #presentation-svg {
    display: none;
  }

  #info-svg-signup {
    display: none;
  }

  #info-svg-signin {
    display: none;
  }

  div.smallPresentationImage {
    content: url(../img/coding.gif);
    /*Centering Image*/
    height: 140px;
    width: 140px;
    margin-left: -40px;
  }
  #presentation-page-text {
    font-size: 20px;
    margin-left: -55%;
    text-align: justify;
  }
  #presentation-page-header {
    font-size: 30px;
    margin-left: -50%;
  }
}

/* For Tables ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
  .doughnut-chart-status {
    display: none;
  }
  #card-stats .card-stats-compare {
    font-size: 0.8rem;
  }
}
