header li a {
  color: #ededee;
}

header li :hover {
  color: #ffffff;
}

header li :hover a :active {
  font-weight: bolder;
  color: #ffffff;
}

.customContainer {
  margin-left: 4rem;
  margin-right: 4rem;
}

h3 {
  margin-bottom: 2rem;
}

.title {
  color: #0288d1;
}

#cpa-logo {
  font-family: "El Messiri", sans-serif;
  font-size: 25px;
  margin-top: 2px;
  margin-left: 10px;
  color: #ffffff;
}

#logo-icon {
  margin-top: -3px;
  margin-right: 6px;
}

.caseCard {
  color: #0288d1;
  display: inline;
}

.deathCard {
  color: #e53935;
  display: inline;
}

.recoveryCard {
  color: #2e7d32;
  display: inline;
}

.round {
  border-radius: 20px;
}

#toTop {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: red;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

.tabs .tab a {
  color: rgba(110, 161, 238, 0.7);
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(178, 200, 246, 0.2);
  outline: 0;
}

.tabs .tab a.active,
.tabs .tab a:hover {
  background-color: transparent;
  color: #6e85ee;
}

/*=================================================================================
        Header
    ====================================================================================*/
/*----------------------------------------
        Page Header
    ------------------------------------------*/
h1.logo-wrapper {
  margin: 0px 0px;
}

h1 span.logo-text {
  display: none;
}

header .brand-logo {
  margin: 1px 0px;
  padding: 0 20px;
}

header .brand-logo img {
  width: 172px;
}

.menu-sidebar-collapse {
  margin: 0 10px;
}

.menu-sidebar-collapse i {
  line-height: 36px !important;
}

@media only screen and (max-width: 992px) {
  nav .nav-wrapper {
    text-align: center;
  }
  nav .nav-wrapper a.page-title {
    font-size: 36px;
  }
}

/*=================================================================================
        Sidebar
    ====================================================================================*/
/*----------------------------------------
        Sidebar Main Menu 
    ------------------------------------------*/
nav ul li.no-hover:hover {
  background: none;
}

ul.side-nav.leftside-navigation {
  top: 64px;
}

@media only screen and (max-width: 992px) {
  ul.side-nav.leftside-navigation {
    top: 56px;
  }
}

ul.side-nav.leftside-navigation hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
}

.side-nav a {
  line-height: 42px;
  height: 42px;
}

ul.side-nav li {
  padding: 0;
}

ul.side-nav .collapsible-header {
  margin: 0;
}

.sidebar-collapse {
  position: absolute;
  left: -170px;
  top: -45px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES GO HERE */
  #cpa-logo {
    display: none;
  }
  .customContainer {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .customContainer {
    margin-left: 0rem;
    margin-right: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */