$foregroundColor: #0288d1;

$secondayColor: #02a892; // html {
//   scroll-behavior: smooth;
// }
header {
  li {
    a {
      color: rgb(237, 237, 238);
      font-family: "Google Sans", sans-serif;
    }
  }
  li :hover {
    color: #ffffff;
    a :active {
      font-family: "El Messiri", sans-serif;
      font-weight: bolder;
      color: #ffffff;
    }
  }
}

main {
  display: none;
}

.onmouseTest {
  :hover {
    h6 {
      color: #5151a5;
      font-weight: bold;
    }
  }
}

.onmouseCase {
  :hover {
    h6 {
      color: $foregroundColor;
      font-weight: bold;
    }
  }
}

.onmouseDeath {
  :hover {
    h6 {
      color: #e53935;
      font-weight: bold;
    }
  }
}

.onmouseRecovery {
  :hover {
    h6 {
      color: #2e7d32;
      font-weight: bold;
    }
  }
}

.tContributor {
  color: $foregroundColor;
  font-weight: bold;
}

.tPosition {
  margin-bottom: 1rem;
}

.subTitle {
  font-family: "Google Sans", sans-serif;
  color: #424242;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

#cpa-logo {
  font-family: "Google Sans", sans-serif;
  font-size: 25px;
  margin-top: 2px;
  margin-left: 10px;
  color: #ffffff;
}

.contextTextTheme {
  color: #03a892;
}

.headerText {
  font-size: 2rem;
}

.progressbarTheme {
  color: #026b5d;
}

#scrollTop {
  display: none;
}

.gsans {
  font-family: "Google Sans", sans-serif;
}

.customContainer {
  margin: 4rem;
}

.homeContainer {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 1rem;
}

.shareBtn {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 2rem;
}

.title {
  color: $secondayColor;
  font-weight: bold;
}

.navTheme {
  background-color: #03a892;
}

.bannerSvg {
  max-width: 6rem;
  max-height: 6rem;
}

.countName {
  color: rgba(3, 16, 46, 0.726);
  font-weight: 800;
}

.brand-logo {
  font-family: "El Messiri", sans-serif;
  font-size: 25px;
  margin-top: 2px;
  margin-left: 10px;
  color: #ffffff;
}

#logo-icon {
  margin-top: -3px;
  margin-right: 6px;
}

.homeImg {
  height: 200;
  max-width: 250;
}

.testCard {
  color: #5151a5;
}

.caseCard {
  color: $foregroundColor;
  display: inline;
}

.deathCard {
  color: #e53935;
  display: inline;
}

.recoveryCard {
  color: #2e7d32;
  display: inline;
}

.round {
  border-radius: 20px;
}

.suggestion {
  line-height: 200%;
  font-weight: 500;
}

.progress {
  margin: 0px;
}

.count {
  font-size: 4rem;
}

.countNumber {
  font-size: 2.5rem;
}

.collapsible-header {
  font-weight: bold;
}

ul {
  .faqList {
    margin-left: 2rem;
  }
}

.collection-item {
  font-weight: bold;
  a {
    text-decoration: underline;
  }
}

/*=================================================================================
        Header
    ====================================================================================*/
/*----------------------------------------
        Page Header
    ------------------------------------------*/
h1.logo-wrapper {
  margin: 0px 0px;
}
h1 span.logo-text {
  display: none;
}
header .brand-logo {
  margin: 1px 0px;
  padding: 0 20px;
}
header .brand-logo img {
  width: 172px;
}
.menu-sidebar-collapse {
  margin: 0 10px;
}
.menu-sidebar-collapse i {
  line-height: 36px !important;
}
@media only screen and (max-width: 992px) {
  nav .nav-wrapper {
    text-align: center;
  }
  nav .nav-wrapper a.page-title {
    font-size: 36px;
  }
}

/*=================================================================================
        Sidebar
    ====================================================================================*/
/*----------------------------------------
        Sidebar Main Menu 
    ------------------------------------------*/
nav ul li.no-hover:hover {
  background: none;
}
ul.side-nav.leftside-navigation {
  top: 64px;
}
@media only screen and (max-width: 992px) {
  ul.side-nav.leftside-navigation {
    top: 56px;
  }
}
ul.side-nav.leftside-navigation hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
}
.side-nav a {
  line-height: 42px;
  height: 42px;
}
ul.side-nav li {
  padding: 0;
}
ul.side-nav .collapsible-header {
  margin: 0;
}
.sidebar-collapse {
  position: absolute;
  left: -170px;
  top: -45px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES GO HERE */
  #cpa-logo {
    font-size: 1.2rem;
  }

  #logo-icon {
    font-size: 1.2rem;
  }

  .customContainer {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
@media only screen and (min-device-width: 482px) and (max-device-width: 767px) {
  /* STYLES GO HERE */
  #cpa-logo {
    font-size: 3rem;
    margin-left: 2px;
  }

  #logo-icon {
    display: none;
  }

  .customContainer {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .homeContainer {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .customContainer {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .homeContainer {
    margin: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
