html {
  scroll-behavior: smooth;
}

header li :hover {
  font-weight: bold;
}

header li :hover a :active {
  font-weight: bold;
}

.customContainer {
  margin-left: 4rem;
  margin-right: 4rem;
}

h3 {
  margin-bottom: 2rem;
}

.title {
  color: #0288d1;
}

#cpa-logo {
  font-family: "El Messiri", sans-serif;
  font-size: 25px;
  margin-top: 2px;
  margin-left: 10px;
  color: #ffffff;
}

#logo-icon {
  margin-top: -3px;
  margin-right: 6px;
}

.caseCard {
  color: #0288d1;
  display: inline;
}

.deathCard {
  color: #e53935;
  display: inline;
}

.recoveryCard {
  color: #2e7d32;
  display: inline;
}

.round {
  border-radius: 20px;
}

.tabs .tab a {
  color: rgba(110, 161, 238, 0.7);
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(178, 200, 246, 0.2);
  outline: 0;
}

.tabs .tab a.active,
.tabs .tab a:hover {
  background-color: transparent;
  color: #6e85ee;
}

/*=================================================================================
        Header
    ====================================================================================*/
/*----------------------------------------
        Page Header
    ------------------------------------------*/
h1.logo-wrapper {
  margin: 0px 0px;
}

h1 span.logo-text {
  display: none;
}

header .brand-logo {
  margin: 1px 0px;
  padding: 0 20px;
}

header .brand-logo img {
  width: 172px;
}

.menu-sidebar-collapse {
  margin: 0 10px;
}

.menu-sidebar-collapse i {
  line-height: 36px !important;
}

@media only screen and (max-width: 992px) {
  nav .nav-wrapper {
    text-align: center;
  }
  nav .nav-wrapper a.page-title {
    font-size: 36px;
  }
}

/*=================================================================================
        Sidebar
    ====================================================================================*/
/*----------------------------------------
        Sidebar Main Menu 
    ------------------------------------------*/
nav ul li.no-hover:hover {
  background: none;
}

ul.side-nav.leftside-navigation {
  top: 64px;
}

@media only screen and (max-width: 992px) {
  ul.side-nav.leftside-navigation {
    top: 56px;
  }
}

ul.side-nav.leftside-navigation hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
}

.side-nav a {
  line-height: 42px;
  height: 42px;
}

#left-sidebar-nav {
  position: fixed;
  width: 100px;
  left: 180px;
  z-index: 999;
  height: auto;
}

#slide-out li a i {
  line-height: inherit;
  width: 2rem;
  font-size: 1.6rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

#slide-out ul.side-nav li {
  padding: 0px !important;
}

ul.side-nav li {
  padding: 0;
}

ul.side-nav .collapsible-header {
  margin: 0;
}

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.caption-uppercase {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.sidebar-collapse {
  position: absolute;
  left: -170px;
  top: -45px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES GO HERE */
  #cpa-logo {
    display: none;
  }
  #presentation-svg {
    display: none;
  }
  #info-svg-signup {
    display: none;
  }
  #info-svg-signin {
    display: none;
  }
  div.smallPresentationImage {
    content: url(../img/coding.gif);
    /*Centering Image*/
    height: 140px;
    width: 140px;
    margin-left: -40px;
  }
  #presentation-page-text {
    font-size: 20px;
    margin-left: -55%;
    text-align: justify;
  }
  #presentation-page-header {
    font-size: 30px;
    margin-left: -50%;
  }
}

/* For Tables ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
  .doughnut-chart-status {
    display: none;
  }
  #card-stats .card-stats-compare {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */